.poster {
    border-radius: 10px !important;
    max-width: 30rem;
}

.inner-result-card {
    border-radius: 10px !important;
}

.outer-result-card {
    border-radius: 10px !important;
}

.recommendation-card {
    cursor: pointer;
    min-width: 18rem !important;
    max-width: 18rem !important;
    border-radius: 4px !important;
}

.recommendation-card:hover {
    cursor: pointer;
    opacity: 0.8;
}

.recommendation-img {
    border-radius: 4px !important;
}

.net-positive {
    color: green;
}

.net-negative {
    color: red;
}