.results-section {
    position: relative;
    top: 80px;
    height: 90vh;
    width: 98% !important;
}

hr {
    color: #c4c2c1 !important;
    border-color: #c4c2c1 !important;;
}

.attribution-logo {
    top: -1vh;
    position: relative;
    width: 100px; 
    height: 40px;
}

.footer-text {
    color: white;
}

.tmdb-link {
    color: rgb(156, 156, 156);
}

.tmdb-link:hover {
    color: rgb(156, 156, 156);
}

