.list-item {
    cursor: pointer;
}

.list-item:hover {
    opacity: 0.8;
}


@media only screen and (max-width: 992px) {
.list-item > * {
    min-width: 100%;
}
}

.small-poster {
    width: 90%;
    max-width: 40vw;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.known-for-poster {
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}